/node_modules
/vendor/dendrynexus/node_modules
/vendor/dendrynexus/test
/out/game.json
/out/html/core.js
.temp/
venv
.venv
.vscode
__pycache__
GEMINI.md
CLAUDE.md
.claude/*
/docs/*
Overview.pdf
/ui/node_modules
/ui/dist
/ui/public/game.*.json
/out/html/desk/